@font-face {
  font-family: 'PostNoBillsJaffna';
  src: url('./assets/fonts/PostNoBillsJaffna-Light.ttf');
  font-weight: light;
  font-style: normal;
}

@font-face {
  font-family: 'AdventPro', sans-serif;
  src: url('./assets/fonts/AdventPro_Expanded-Light.ttf');
}
